<footer>
  Powered by
  <a href="https://docula.org/" target="_blank" rel="noopener noreferrer"><img
      src="https://docula.org/logo.svg"
      alt="docula logo"
      width="122"
      height="32"
    />
  </a>
</footer>
