name: deploy-site

on:
  workflow_dispatch:
  release:
    types: [released]

permissions:
  contents: write

jobs:
  setup-build-deploy:
    name: Deploy Website
    runs-on: ubuntu-latest

    steps:
    - name: Checkout
      uses: actions/checkout@v4

    # Test
    - name: Use Node.js
      uses: actions/setup-node@v4
      with:
        node-version: 24

    - name: Install Dependencies  
      run: npm install -g pnpm && pnpm install
      
    - name: Build
      run: pnpm build
    
    - name: Build Website
      run: pnpm website:build

    - name: Publish to Cloudflare Pages
      uses: cloudflare/wrangler-action@v3
      with:
        apiToken: ${{ secrets.CLOUDFLARE_API_TOKEN }}
        command: pages deploy dist-site --project-name=ecto --branch=main