name: release

on:
  workflow_dispatch:
  release:
    types: [released]

jobs:
  build-release:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4
      with:
        ref: ${{ github.event.release.target_commitish }}

    - name: Use Node.js 22
      uses: actions/setup-node@v4
      with:
        node-version: 22

    - name: Install Dependencies
      run: npm install -g pnpm && pnpm install

    - name: Build    
      run: pnpm build

    - name: Testing    
      run: pnpm test:ci

    - name: Publish
      run: |
        pnpm config set //registry.npmjs.org/:_authToken ${{ secrets.NPM_TOKEN }}
        pnpm publish --provenance

